@import "../color";
@import "../data";
@import "../scaling";

.top {
  margin-top: 10px;
  min-width: $screen_width;
  .yorha-left {
    .time {
      color: $brown;
      font-size: $small_font_size;
    }
    .battery-percent {
      color: $brown;
      font-size: $small_font_size;
    }
  }
}

.under-workspaces {
  margin-top: -2px;
  min-width: 100px;
  min-height: round($nier_border_size/3);
  .nier-border-box {
    .nier-border-icon {
      color: $brown;
    }
  }
}

.bottombar {
  margin-bottom: 65px;
  min-width: 100px;
  min-height: round($nier_border_size/3);
  .nier-border-box {
    .nier-border-icon {
      color: $brown;
    }
  }
}

.circle-top-outer {
  color: $brown;
  animation: sway_top 3s ease alternate infinite;
}

.circle-top-inner {
  color: $brown;
  animation: sway_top 4s ease alternate infinite;
}

.circle-bottom-outer {
  color: $brown;
  animation: sway_bottom 3s ease alternate infinite;
}

.circle-bottom-inner {
  color: $brown;
  animation: sway_bottom 4s ease alternate infinite;
}

.single-line {
  color: $brown;
}

.dual-line-top {
  color: $brown;
  // animation: sway_top 5s ease alternate infinite;
}

.dual-line-bottom {
  color: $brown;
  -gtk-icon-transform: rotate(90deg) scaleX(-1);
  // animation: sway_bottom 5s ease alternate infinite;
}

@keyframes sway_top {
  0% {
    -gtk-icon-transform: translate(0);
  }
  100% {
    -gtk-icon-transform: translate(-10px,-10px);
  }
}

@keyframes sway_bottom {
  0% {
    -gtk-icon-transform: rotate(180deg) translate(0);
  }
  100% {
    -gtk-icon-transform: rotate(180deg) translate(-10px,-10px);
  }
}