@import "../color";
@import "../data";
@import "../scaling";

.app-launcher-search {
  margin-left: 35px;
  margin-right: 60px;
  margin-bottom: 20px;
  font-size: $small_font_size;
  color: $brown;
  background-color: $highlight;
  padding: 6px;
}

.app-launcher {
  .nier-long-button-group-ruler {
    all: unset;
  }
  .app-launcher-scroll {
    min-height: calc(#{$screen_height} / 3);
  }
  margin-bottom: 100px;
}
  
.nier-button {
  .app-launcher-icon {
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.5;
  }
  .app-launcher-label {
    font-size: $small_font_size;
  }
}

.nier-button-hover {
  .app-launcher-icon {
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
  }
}
