@use "../colors/colors.scss" as colors;
@use "../widgets/Workspaces.scss";
@use "../widgets/ReverseFinalBarline.scss";

$small_font_size: 1rem;

.Bar {
    padding-top: 10px;
    padding-bottom: 10px;

    .Clock {
        font-weight:bold;
    }

    label {
        color: colors.$brown;
        font-size: $small_font_size;
    }

    .SystemPopover{
        contents {
            background-color: transparent;
            box-shadow: none;
            border: none;
        }
    }

    .Heading {
        padding-top: 30px;
        padding-bottom: 40px;
        font-size: 3rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        text-shadow: 6px 6px 1px rgba(72, 70, 61, 0.25);
    }
}