@use "../colors/colors.scss" as colors;

.ReverseFinalBarline {
    .ThickBarline {
        background-color: colors.$brown;
        opacity: 0.25;
    }
    .ThinBarline {
        background-color: colors.$brown;
        opacity: 0.25;
    }
}