// $scale: 1;
$scale: 0.5; //hidpi

$large_font_size: 5rem * $scale;
$small_font_size: 2rem * $scale;

$border_size: 4px;
$border_dist: 3px;
$accent_border: 3px;
$accent_border_dist: 4px;
$button_spacing_vertical: 10px;
$button_spacing_horizontal: 5px;
$button_dist_from_ruler: 14px;
