@use "../colors/colors.scss" as colors;

@mixin general_line {
  background: linear-gradient(to top right,
      transparent 0%,
      transparent calc(50% - 2px),
      colors.$brown 50%,
      transparent calc(50% + 2px),
      transparent 100%);
  opacity: 0.3;
}

@keyframes shrink {
  to {transform: scale(0.97);}
}

window.Wallpaper {
  .LineTopShort {
    @include general_line;
  }

  .LineTopMed {
    @include general_line;
  }

  .LineTopLong {
    @include general_line;
  }

  .ArcTopOuter {
    transform-origin: 0% 0%;
    border-bottom: 2.5px solid colors.$brown;
    border-right: 2.5px solid colors.$brown;
    border-radius: 0 0 100% 0;
    opacity: 0.25;
    animation: shrink 6s ease alternate infinite;
  }

  .ArcTopInner {
    transform-origin: 0% 0%;
    border-bottom: 2.5px solid colors.$brown;
    border-right: 2.5px solid colors.$brown;
    border-radius: 0 0 100% 0;
    opacity: 0.25;
    animation: shrink 8s ease alternate infinite;
  }

  .LineBottomShort {
    @include general_line;
  }

  .LineBottomMed {
    @include general_line;
  }

  .LineBottomLong {
    @include general_line;
  }

  .ArcBottomOuter {
    transform-origin: 100% 100%;
    border-top: 2.5px solid colors.$brown;
    border-left: 2.5px solid colors.$brown;
    border-radius: 100% 0 0 0;
    opacity: 0.25;
    animation: shrink 6s ease alternate infinite;
  }

  .ArcBottomInner {
    transform-origin: 100% 100%;
    border-top: 2.5px solid colors.$brown;
    border-left: 2.5px solid colors.$brown;
    border-radius: 100% 0 0 0;
    opacity: 0.25;
    animation: shrink 8s ease alternate infinite;
  }
}