@use "colors_light.scss" as colors;

@keyframes oscillate_top {
  0% {
    -gtk-icon-transform: translate(0);
  }
  100% {
    -gtk-icon-transform: translate(-10px,-10px);
  }
}

@keyframes oscillate_bottom {
  0% {
    -gtk-icon-transform: rotate(180deg) translate(0);
  }
  100% {
    -gtk-icon-transform: rotate(180deg) translate(-10px,-10px);
  }
}

* {
  font-family: FOT-Rodin Pro M, Roboto, sans-serif;
}

$small_font_size: 1rem;
$border_size: 4px;
$border_dist: 3px;

window.Wallpaper {
  .LineTopInner {
    color: colors.$brown;
  }
  .LineTopOuter {
    color: colors.$brown;
  }

  .CircleTopOuter {
    color: colors.$brown;
    animation: oscillate_top 3s ease alternate infinite;
  }
  .CircleTopInner {
    color: colors.$brown;
    animation: oscillate_top 4s ease alternate infinite;
  }

  .LineBottomInner {
    color: colors.$brown;
  }
  
  .LineBottomOuter {
    color: colors.$brown;
    -gtk-icon-transform: rotate(90deg) scaleX(-1);
  }

  .CircleBottomOuter {
    color: colors.$brown;
    animation: oscillate_bottom 3s ease alternate infinite;
  }
  .CircleBottomInner {
    color: colors.$brown;
    animation: oscillate_bottom 4s ease alternate infinite;
  }
}

window.BarAndBorders {
  
  .TopSeparator {
    background-color: colors.$brown;
  }

  .BottomSeparator {
    background-color: colors.$brown;
  }

  .WorkspaceButton {
    border-radius: 0px;
    background: linear-gradient(
      to right,
      rgba(colors.$brown, 0.25)  50%,
      colors.$brown  50%);
      background-size: 200%;
      transition: background 0.1s cubic-bezier(0.15, 0.79, 0, 1);

    .LeftLabel {
      color: colors.$tan;
      background-color: colors.$brown;
    }
    
    .RightLabel {
      color: colors.$brown;
    }

  }

  .WorkspaceButton:hover {

    // margin-top: 0px;
    // margin-bottom: 0px;
    // padding-top: 0px;
    // padding-bottom: 0px;
    box-shadow: 7px 7px 3px rgba(colors.$brown, 0.25);
    background-position: -100%;
    transition: background 1s cubic-bezier(0.15, 0.79, 0, 1);

    .LeftLabel {
      color: colors.$brown;
      background-color: colors.$tan;
    }

    .RightLabel {
      color: colors.$tan;
    }
  }

  .Bar {
    label {
      color: colors.$brown;
      font-size: $small_font_size;
    }

    .Heading {
      font-size: 3rem;
    }

    .Calendar {
      
      header {
        color: colors.$tan;
        background-color: colors.$brown;

        stack.month {
          label {
            color: colors.$tan;
          }
        }
        
        label.year {
          color: colors.$tan;
        }
      }

      grid {
        background-color:colors.$tan;

        label.day-name{
          color: colors.$brown;
          background-color: colors.$tan;
        }

        label {
          color: colors.$brown;
          background-color: #cdc8b0;
        }

        .today {
          border-radius: 0px;
          color: colors.$tan;
          background-color: colors.$accent1;
        }

        .other-month {
          color: colors.$brown;
          background-color: #aca893;
        }
      }
    }
  }

  .BorderBox {
    image {
      color: colors.$brown;
    }
    image.RightCap {
      -gtk-icon-transform: scaleX(-1);
    }
  }

  .BottomBorder {
    margin-bottom: -30px;
  }

  .HorizontalSeparator {
    background-color: colors.$brown;
  }
}