@keyframes shrink {
  to {
    transform: scale(0.97);
  }
}
window.Wallpaper .LineTopShort {
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), #48463d 50%, transparent calc(50% + 2px), transparent 100%);
  opacity: 0.3;
}
window.Wallpaper .LineTopMed {
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), #48463d 50%, transparent calc(50% + 2px), transparent 100%);
  opacity: 0.3;
}
window.Wallpaper .LineTopLong {
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), #48463d 50%, transparent calc(50% + 2px), transparent 100%);
  opacity: 0.3;
}
window.Wallpaper .ArcTopOuter {
  transform-origin: 0% 0%;
  border-bottom: 2.5px solid #48463d;
  border-right: 2.5px solid #48463d;
  border-radius: 0 0 100% 0;
  opacity: 0.25;
  animation: shrink 6s ease alternate infinite;
}
window.Wallpaper .ArcTopInner {
  transform-origin: 0% 0%;
  border-bottom: 2.5px solid #48463d;
  border-right: 2.5px solid #48463d;
  border-radius: 0 0 100% 0;
  opacity: 0.25;
  animation: shrink 8s ease alternate infinite;
}
window.Wallpaper .LineBottomShort {
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), #48463d 50%, transparent calc(50% + 2px), transparent 100%);
  opacity: 0.3;
}
window.Wallpaper .LineBottomMed {
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), #48463d 50%, transparent calc(50% + 2px), transparent 100%);
  opacity: 0.3;
}
window.Wallpaper .LineBottomLong {
  background: linear-gradient(to top right, transparent 0%, transparent calc(50% - 2px), #48463d 50%, transparent calc(50% + 2px), transparent 100%);
  opacity: 0.3;
}
window.Wallpaper .ArcBottomOuter {
  transform-origin: 100% 100%;
  border-top: 2.5px solid #48463d;
  border-left: 2.5px solid #48463d;
  border-radius: 100% 0 0 0;
  opacity: 0.25;
  animation: shrink 6s ease alternate infinite;
}
window.Wallpaper .ArcBottomInner {
  transform-origin: 100% 100%;
  border-top: 2.5px solid #48463d;
  border-left: 2.5px solid #48463d;
  border-radius: 100% 0 0 0;
  opacity: 0.25;
  animation: shrink 8s ease alternate infinite;
}

.TopSeparator {
  background-color: #48463d;
}

.BottomSeparator {
  background-color: #48463d;
}

.WorkspaceButton {
  border-radius: 0px;
  background: linear-gradient(to right, rgba(72, 70, 61, 0.25) 50%, #48463d 50%);
  background-size: 200%;
  transition: background 0.1s cubic-bezier(0.15, 0.79, 0, 1);
}
.WorkspaceButton .LeftLabel {
  color: #c2bda6;
  background-color: #48463d;
}
.WorkspaceButton .RightLabel {
  color: #48463d;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.WorkspaceButton:hover {
  box-shadow: 7px 7px 3px rgba(72, 70, 61, 0.25);
  background-position: -100%;
  transition: background 1s cubic-bezier(0.15, 0.79, 0, 1);
}
.WorkspaceButton:hover .LeftLabel {
  color: #48463d;
  background-color: #c2bda6;
}
.WorkspaceButton:hover .RightLabel {
  color: #c2bda6;
}

.ReverseFinalBarline .ThickBarline {
  background-color: #48463d;
  padding-right: 12px;
  opacity: 0.25;
}
.ReverseFinalBarline .ThinBarline {
  margin-left: 5px;
  margin-right: 31px;
  background-color: #48463d;
  padding-right: 2px;
  opacity: 0.25;
}

.Bar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Bar .Clock {
  font-weight: bold;
}
.Bar label {
  color: #48463d;
  font-size: 1rem;
}
.Bar .SystemPopover contents {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.Bar .Heading {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 3rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 6px 6px 1px rgba(72, 70, 61, 0.25);
}

.BorderBox image {
  color: #48463d;
}
.BorderBox image.RightCap {
  -gtk-icon-transform: scaleX(-1);
}

.HorizontalSeparator {
  background-color: #48463d;
}

* {
  font-family: FOT-Rodin Pro M, sans-serif;
}

/*# sourceMappingURL=style.css.map */
