@import "color";
@import "data";
@import "scaling";

.top {
  margin-top: 10px;
  min-width: $screen_width;
  .yorha-left {
    .workspaces-scroll {
      min-width: $workspace_width;
      min-height: $workspace_height;
    }
    .time {
      color: $brown;
      font-size: $small_font_size;
    }
    .battery-percent {
      color: $brown;
      font-size: $small_font_size;
    }
    .settings-button {
      .yorha {
        color: $brown;
      }
    }
  }
}

.under-workspaces {
  margin-top: -2px;
  min-width: 100px;
  min-height: round($nier_border_size/3);
  .nier-border-box {
    .nier-border-icon {
      color: $brown;
    }
  }
}

.bottombar {
  margin-bottom: 65px;
  min-width: 100px;
  min-height: round($nier_border_size/3);
  .nier-border-box {
    .nier-border-icon {
      color: $brown;
    }
  }
}