@import "color";
@import "data";
@import "scaling";

.top {
  margin-top: 10px;
  min-width: $screen_width;
  .yorha-left {
    .workspaces-scroll {
      min-width: $workspace_width;
      min-height: $workspace_height;
    }

    .settings-button {
      .yorha {
        color: $brown;
      }
    }
  }
}