$scale: 1;
// $scale: 0.5; //hidpi

$large_font_size: 5rem * $scale;
$small_font_size: 2rem * $scale;

$border_size: 4px;
$border_dist: 3px;
$accent_border: 3px;
$accent_border_dist: 4px;
$button_spacing_vertical: 10px;
$button_spacing_horizontal: 5px;
$button_dist_from_ruler: 14px;
$button_width: 190px * $scale;
$button_slider_padding: 20px * $scale;

$settings_title_top: 120px * $scale;
$settings_title_bottom: 50px * $scale;

$workspace_count: 10;
$workspace_width: ($workspace_count * $button_width) + ($workspace_count + 1) * (50px * $scale);
$workspace_height: 65px * $scale;